In [108]:
import pandas as pd

In [ ]:
#change MESS_DATUM in date format
#FORMAT='%Y%m%d%H'
#preception['MESS_DATUM'] = pd.to_datetime(preception['MESS_DATUM'], format=FORMAT)
#wether['MESS_DATUM'] = pd.to_datetime(wether['MESS_DATUM'], format=FORMAT)

In [132]:
#concatenate two df 
#result = pd.concat([data, data1], ignore_index=True, sort=False)

In [140]:
preception = pd.read_csv('filteredpreception.csv')
wether = pd.read_csv('filteredWetherData.csv')

In [133]:
#preception = preception[(preception['MESS_DATUM'] >="2020-01-01 00:00:00") & (preception['MESS_DATUM'] <="2021-04-07 23:00:00")]
#wether = wether[(wether['MESS_DATUM'] >="2020-01-01 00:00:00") & (wether['MESS_DATUM'] <="2021-04-07 23:00:00")]

In [134]:
#merge two collums by same value in specific collum 
test = pd.merge(wether, preception, on="MESS_DATUM",how="left")

In [ ]:
#R1 stündliche Niederschlagshöhe mm
#RS_IND Index kein Niederschlag = 0 , Niederschlag gefallen = 1 
#WRTR WR-Niederschlagsform WR -Codierung

In [154]:
test.to_csv('test.csv')

In [181]:
del(test['STATIONS_ID_y'])

In [172]:
import numpy as np
test['  R1'] = test['  R1'].replace(np.nan, 0.0)
test['RS_IND'] = test['RS_IND'].replace(np.nan, 0.0)

In [175]:
test = test[(test['MESS_DATUM'] <="2021-04-06 23:00:00")]

In [184]:
test.to_csv("wetherMergepreception.csv")

In [182]:
test

                MESS_DATUM  TT_TU  RF_TU    R1  RS_IND
0      2015-01-01 00:00:00    4.0   90.0   0.0     0.0
1      2015-01-01 01:00:00    4.1   89.0   0.0     0.0
2      2015-01-01 02:00:00    3.5   90.0   0.0     0.0
3      2015-01-01 03:00:00    3.3   91.0   0.0     0.0
4      2015-01-01 04:00:00    3.1   92.0   0.0     0.0
...                    ...    ...    ...   ...     ...
54907  2021-04-06 19:00:00    1.5   85.0   0.0     0.0
54908  2021-04-06 20:00:00    1.2   89.0   0.1     1.0
54909  2021-04-06 21:00:00    1.0   91.0   0.1     1.0
54910  2021-04-06 22:00:00    0.8   91.0   0.0     1.0
54911  2021-04-06 23:00:00    0.5   89.0   0.0     0.0

[54912 rows x 5 columns]